PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=p8w2aQX1K4-zxXAnh-rPOg82xUz5ry2H
DRIVE_DISK=local
DB_CONNECTION=mysql
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=lucid
MYSQL_PASSWORD=
MYSQL_DB_NAME=lucid
